<main class="main">
  <div class="wrapper">
    <h1>
      Crea tu tarjeta de visita
    </h1>
    <p>
      Crea mejores contactos profesionales de forma fácil y cómoda
    </p>
    <section class="options">
      <article>
        <i class="far fa-object-ungroup"></i>
        <p>Diseña</p>
      </article>
      <article>
        <i class="far fa-keyboard"></i>
        <p>Rellena</p>
      </article>
      <article>
        <i class="fas fa-share-alt"></i>
        <p>Comparte</p>
      </article>
    </section>
    <div class="button__start">
      <a href="./design.html" class="button__start--text">comenzar</a>
    </div>
  </div>
</main>
