<section class="preview">
  <div class="preview__wrapper">
    <button id="button-reset" class="button-reset js-button-reset">
      <i class="far fa-trash-alt" aria-hidden="true"></i> reset
    </button>
    <div class="card">
      <div class="card__id">
        <h3 class="card__id_name js-card-name">Nombre Apellido</h3>
        <p class="card__id_role js-card-job">Puesto de trabajo</p>
    </div>
      <div class="profile card__photo js-card-photo">
        <div class="profile__image js__profile-image"></div>
      </div>

      <div class="card__contacts">
        <ul class="js-contact__list">
          <li class="contact__icon js-telephone hidden">
            <i
              class="fas fa-mobile-alt js-icon-telephone"
              aria-hidden="true"></i></li>
          <li class="contact__icon js-email hidden">
            <a class="js-icon-email" target="_blank">
              <i class="far fa-envelope" aria-hidden="true"></i>
            </a>
          </li>

          <li class="contact__icon js-linkedin hidden">
            <a href="" class="js-icon-linkedin" target="_blank">
              <i
              class="fab fa-linkedin-in js-icon-linkedin"
              aria-hidden="true"
            ></i>
            </a>
          </li>

          <li class="contact__icon js-github hidden">
            <a href="" class="js-icon-github" target="_blank">
              <i
              class="fab fa-github-alt js-icon-github"
              aria-hidden="true"
            ></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
