.header_design {
  .wrapper {
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
  }
  .header__photo {
    width: 420px;
    height: 105px;
  }

  @media all and (min-width: 768px) {
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    .wrapper {
      padding-top: 0;
      padding-bottom: 0;
      display: flex;
      justify-content: flex-start;
      .header__photo {
        width: 200px;
        height: 50px;
      }
    }
  }
}

@media all and (min-width: 768px) {
  .design__container {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px 40px;
  }
}

.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  width: 100%;
  height: auto;
  background-image: linear-gradient($pale-grey1, $pale-grey);

  @media all and (min-width: 768px) {
    border-radius: 6px;
    align-items: center;
  }

  &__wrapper {
    width: 240px;
  }
}

.customizer {
  &__wrapper {
    display: flex;
    width: 100%;
    padding: 20px;
  }
}

.form {
  width: 100%;
  .form__title {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .h2 {
    font-size: 18px;
    font-family: $primary-font;
    font-weight: 400;
    color: $color-dark;
    text-transform: uppercase;
    width: 320px;

    i {
      margin-right: 10px;
      color: $color-tertiary;
    }
  }

  &__design {
    border: none;
    border-bottom: 1px solid $white-two;
    legend {
      font-size: 14px;
      font-family: $primary-font;
      color: $color-dark;
      text-transform: uppercase;
      margin-top: 22px;
      min-width: 320px;
      max-width: 600px;
    }

    .palette-1 {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 20px;

      input {
        width: 17px;
        height: 17px;
      }
      .color-cold-1 {
        @include color-container-mobile;
        background-color: $color-primary;
        margin-left: 10px;
      }
      .color-cold-2 {
        @include color-container-mobile;
        background-color: $color-secondary;
      }
      .color-cold-3 {
        @include color-container-mobile;
        background-color: $hospital-green;
      }
    }
    .palette-2 {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 20px;

      input {
        width: 17px;
        height: 17px;
        padding-right: 10px;
      }
      .color-warm-1 {
        @include color-container-mobile;
        background-color: $dried-blood;
        margin-left: 10px;
      }
      .color-warm-2 {
        @include color-container-mobile;
        background-color: $rusty-red;
      }
      .color-warm-3 {
        @include color-container-mobile;
        background-color: $tomato;
      }
    }
    .palette-3 {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 20px;

      input {
        width: 17px;
        height: 17px;
        padding-right: 10px;
      }
      .color-neutral-1 {
        @include color-container-mobile;
        background-color: $slate;
        margin-left: 10px;
      }
      .color-neutral-2 {
        @include color-container-mobile;
        background-color: $faded-orange;
      }
      .color-neutral-3 {
        @include color-container-mobile;
        background-color: $light-grey-blue;
      }
    }
  }

  &__fill {
    border: none;
    border-bottom: 1px solid $white-two;
    padding-bottom: 10px;
    h2 {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    label {
      font-size: 14px;
      font-family: $primary-font;
      color: $color-base;
      margin-top: 20px;
      margin-bottom: 10px;
      display: block;
    }
    input {
      border: solid 1px $hospital-green;
      width: 100%;
      font-size: 14px;
      font-family: $primary-font;
      line-height: 30px;
    }
    input::placeholder {
      color: $pinkish-grey;
      padding-left: 9px;
    }
    .button__container {
      display: flex;
      .button__image {
        display: flex;
        width: 140px;
        height: 30px;
        background-color: $color-tertiary;
        border-radius: 3px;
        font-size: 14px;
        font-family: $primary-font;
        color: $color-light;
        border: none;
        align-items: center;
        justify-content: center;
      }
      .image__box {
        width: 30px;
        height: 30px;
        margin-left: 20px;
        border: 1px solid $hospital-green;
      }
    }
  }
  &__share {
    border-bottom: 1px solid $white-two;
    padding: 5.6px 12px 10px;

    .twitter {
      padding-top: 20px;
      border-top: 1px solid $white-two;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .twitter-paragraph {
        font-size: 18px;
        font-weight: 400;
        font-family: $primary-font;
        color: $color-dark;
        margin-bottom: 5px;
      }
      .twitter-url {
        font-size: 12px;
        font-weight: 400;
        font-family: $primary-font;
        color: $color-tertiary;
        margin-bottom: 13px;
        text-align: center;
      }
      .twitter-button {
        background-color: $azure;
        color: $color-light;
        width: 181px;
        height: 30px;
        font-size: 14px;
        font-family: $primary-font;
        margin-bottom: 30px;
        border: inherit;
        border-radius: 3px;
      }
    }

    h2 {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .button__share {
      width: 199px;
      height: 50px;
      margin: 30px;
      background-color: $color-tertiary;
      border-radius: 12px;
      font-size: 14px;
      font-family: $primary-font;
      color: $color-light;
      text-transform: uppercase;
      text-align: center;
      border: none;
      a {
        padding-left: 9px;
      }
    }
  }
}

.footer {
  background-color: $color-light;
  width: 100vw;

  border-top: 1px $white-two solid;
  font-family: $primary-font;
  padding: 18px;

  @media all and (min-width: 768px) {
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white-two;
    width: 100%;

    @media all and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }

    .copyright {
      font-size: 14px;
      text-align: center;
      line-height: 20px;
    }

    .logo-adalab {
      width: 103px;
      height: 40px;
      padding-bottom: 2px;
      margin-top: 12px;
    }
  }
}

.hidden {
  display: none;
}
