@import "../core/mixins";
@import "../core/variables";
@import "../core/reset";

// maquetación del main
.design__container {
  min-height: 100vh;
}
@media all and (min-width: 768px) {
  .design__container {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px 30px;
  }
}
