@import "../core/mixins";
@import "../core/variables";
@import "../core/reset";

// estos dos están presentes solamente en el header y en el footer
// .wrapper {
//   padding-left: 26px;
//   padding-right: 26px;
// }

@media all and (min-width: 768px) {
  .design__container {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px 30px;
  }
}

// clase hiden, lo podemos utilizar desde aquí o en colapsables o meterlo en los parciales de sass donde lo usemos.
