body {
  height: 100vh;
  background-color: $unknown-color;
}
.wrapper {
  padding-left: 26px;
  padding-right: 26px;
}

@media all and (min-width: 768px) {
  .design__container {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px 40px;
  }
}
