@import "../../core/mixins";
@import "../../core/variables";

.form {
  &__design {
    border: none;
    border-bottom: 1px solid $white-two;
    legend {
      font-size: 14px;
      font-family: $primary-font;
      color: $color-dark;
      font-weight: 400;
      text-transform: uppercase;
      margin-top: 22px;
      min-width: 320px;
      max-width: 600px;
    }

    .palette-1 {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 20px;

      input {
        width: 17px;
        height: 17px;
      }
      .color-cold-1 {
        @include color-container-mobile;
        background-color: $color-primary;
        margin-left: 10px;
      }
      .color-cold-2 {
        @include color-container-mobile;
        background-color: $color-secondary;
      }
      .color-cold-3 {
        @include color-container-mobile;
        background-color: $hospital-green;
      }
    }
    .palette-2 {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 20px;

      input {
        width: 17px;
        height: 17px;
        padding-right: 10px;
      }
      .color-warm-1 {
        @include color-container-mobile;
        background-color: $dried-blood;
        margin-left: 10px;
      }
      .color-warm-2 {
        @include color-container-mobile;
        background-color: $rusty-red;
      }
      .color-warm-3 {
        @include color-container-mobile;
        background-color: $tomato;
      }
    }
    .palette-3 {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 20px;

      input {
        width: 17px;
        height: 17px;
        padding-right: 10px;
      }
      .color-neutral-1 {
        @include color-container-mobile;
        background-color: $slate;
        margin-left: 10px;
      }
      .color-neutral-2 {
        @include color-container-mobile;
        background-color: $faded-orange;
      }
      .color-neutral-3 {
        @include color-container-mobile;
        background-color: $light-grey-blue;
      }
    }
  }
}
