@import "../../core/variables";

.button__share {
  width: 199px;
  height: 50px;
  margin: 30px;
  margin-left: 25%;
  background-color: $color-tertiary;
  border-radius: 12px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
  font-size: 18px;
  font-family: $primary-font;
  color: $color-light;
  text-transform: uppercase;
  text-align: center;
  border: none;
  cursor: pointer;

  .fa-address-card {
    margin-right: 5px;
  }

  &:disabled {
    background-color: #d8d8d8;
    border: 1px solid #d8d8d8;
    cursor: not-allowed;
  }

  a {
    padding-left: 9px;
  }
}
