.header_design {
  .wrapper {
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
  }
  .header__photo {
    width: 420px;
    height:105px;
  }

  @media all and (min-width: 768px) {
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    .wrapper {
      padding-top: 0;
      padding-bottom: 0;
      display: flex;
      justify-content: flex-start;
      .header__photo {
        width: 200px;
        height: 50px;
      }
    }
  }
}

// HEADER DESIGN

// .header__design {
//   width: 100vw;
//   height: 111px;
//   display: flex;
//   align-items: center;
//   padding-left: 40px;
//   background-color: $color-light;
//   &__photo {
//     height: 50px;
//     width: 201px;
//   }
//   @media all and (min-width: 768px) {
//     height: 455px;
//     padding-left: 175px;
//     background-color: $unknown-color;
//     &__photo {
//       height: 105px;
//       width: 419px;
//     }
//   }
// }
