// fonts
$landing-font: ‘Merriweather’, serif;
$primary-font: ‘Open Sans’, sans-serif;
$secondary-font: ‘Montserrat’, sans-serif;

// colors

$color-primary: #151945;
$color-secondary: #2C6BE3;
$color-tertiary: #e17334;

$color-base:#114e4e;
$color-button: #438792;
$hospital-green: #38E6F4;
$color-light: #ffffff;
$color-dark: #54585a;

$tomato: #260A38;
$dried-blood: #973F97;
$rusty-red: #98D96F;
$slate: #3e5b65;
$faded-orange: #eab052;
$light-grey-blue: #a0c0cf;
$azure: #00a0f5;
$white: #d5d5d5;
$white-two: #d8d8d8;
$brownish-grey: #6b6b6b;
$pinkish-grey: #c5c5c5;
$black: #000000;
$black-20: rgba(0, 0, 0, 0.2);
$unknown-color: #f5f5f5;
$light-khaki: #f9f4dc;
$pale-grey: #dde9ed;
$pale-grey1: #bfcdd0;
