.button-reset {
    border: solid 1px $color-light;
    color: $color-dark;
    font-family: $primary-font;
    width: 75px;
    height: 30px;
    border-radius: 15px;
    font-size: 0.75rem;
    line-height: 30px;
    text-transform: uppercase;
    background: none;
    margin-bottom: 20px;
    margin-top: 38px;
  }
  