@import "../../core/variables";

.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  width: 100%;
  height: auto;
  background-image: linear-gradient($pale-grey1, $pale-grey);

  @media all and (min-width: 768px) {
    border-radius: 6px;
    align-items: center;
  }

  &__wrapper {
    width: 240px;
  }
}
