@import "../../core/variables";

.form {
  &__fill {
    border: none;
    border-bottom: 1px solid $white-two;
    padding-bottom: 10px;
    h2 {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    label {
      font-size: 14px;
      font-family: $primary-font;
      color: $color-base;
      margin-top: 20px;
      margin-bottom: 10px;
      display: block;
    }
    input {
      border: solid 1px $hospital-green;
      width: 100%;
      font-size: 14px;
      font-family: $primary-font;
      line-height: 30px;
    }
    input::placeholder {
      color: $pinkish-grey;
      padding-left: 9px;
    }
    .button__container {
      display: flex;
      .button__image {
        display: flex;
        width: 140px;
        height: 30px;
        background-color: $color-tertiary;
        border-radius: 3px;
        font-size: 14px;
        font-family: $primary-font;
        color: $color-light;
        border: none;
        align-items: center;
        justify-content: center;
      }
      .image__box {
        width: 30px;
        height: 30px;
        margin-left: 20px;
        border: 1px solid $hospital-green;
      }
    }
  }
}

.hidden {
  display: none;
}
